<form action='/testcases/<%=@testcase.id%>' method='POST'>
  <input id="hidden" type="hidden" name="_method" value="patch">
    <table id="generic-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Expected Result</th>
          <th>Features</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type=text name='testcase[title]' id='testcase_title' value="<%=@testcase.title%>">
</td>
          <td><input type=text name='testcase[description]' id='testcase_description' value="<%=@testcase.description%>">
</td>
          <td><input type=text name='testcase[expectedresult]' id='testcase_expectedresult' value="<%=@testcase.expectedresult%>">
</td>
          <td>
            <% Feature.all.each do |feature| %>
              <input type='checkbox' name='testcase[feature_ids][]' value='<%=feature.id%>' <%= 'checked' if @testcase.features.include?(feature)%>><%=feature.title%></input>
              <br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>



  <p>and/or create a new feature:</p>
  <br>
  <label>Title:</label>
  <input type='text' name='feature[title]'>
  <br>
  <label>Description:</label>
  <input type='text' name='feature[description]'>
  <br>

  <input type='submit' value='Save'>
</form>
